---
import BlogCard from "../shared/components/cards/BlogCard.astro";
import BlogCardLarge from "../shared/components/cards/BlogCardLarge.astro";
import BlogCardList from "../shared/components/lists/BlogCardList.astro";
import BlogCardSmall from "../shared/components/cards/BlogCardSmall.astro";
import ComponentPreview from "../components/partials/ComponentPreview.astro";
import ComponentSection from "../components/partials/ComponentSection.astro";
import Layout from "../layouts/Default.astro";
import LinkCardListTitle from "../shared/components/titles/LinkCardListTitle.astro";
import NoLinkCardListTitle from "../shared/components/titles/NoLinkCardListTitle.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import CategoryList from "../shared/components/nav/CategoryList.astro";

// hardcoded for demo
const demoPost = {
	file: "/Projects/Deepgram/web-next/blog/src/content/posts/a-third-test-blog-post-in-june/index.md",
	frontmatter: {
		title: "A third test blog post in June",
		description: "This is a test blog post made in June test test test",
		date: "2022-06-28T14:09:44.129Z",
		cover: "https://placeimg.com/1200/627/animals",
		authors: ["luke-oliff", "kevin-lewis", "michael-jolley"],
		category: "tutorial",
		tags: ["vue", "stream", "live"],
		seo: {
			title: "A different title of SEO maybe?",
			description: "oooo a different description for SEO",
			keywords: ["keywords", "go", "here"],
			canonical: "this-should-be-optional",
		},
		og: {
			image: "https://placeimg.com/1200/627/animals",
			description: "opengraph specific description (if different)",
			title: "maybe a separate OG title as well",
		},
	},
};
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>Blog Components</h1>

		<a href="/">Back</a>

		<ComponentSection title="Blog card lists">
			<ComponentPreview
				id="blog-card-list"
				title="Blog card list w/ title"
				snippet={`<BlogCardList>
	<NoLinkCardListTitle title="Announcements" slot="title" />
	<BlogCard post={post} />
	... etc ...
</BlogCardList>`}
			>
				<BlogCardList class="max-w-5xl">
					<NoLinkCardListTitle title="Latest Posts" slot="title" />
					<BlogCard post={demoPost} />
					<BlogCard post={demoPost} />
					<BlogCard post={demoPost} />
				</BlogCardList>
			</ComponentPreview>

			<ComponentPreview
				id="blog-card-list-w-link"
				title="Blog card list w/ title link"
				snippet={`<BlogCardList>
	<LinkCardListTitle title="Announcements" href="/blog/categories/announcements" slot="title" />
	<BlogCard post={demoPost} />
	... etc ...
</BlogCardList>`}
			>
				<BlogCardList class="max-w-5xl">
					<LinkCardListTitle title="Announcements" href="/blog/categories/announcements" slot="title" />
					<BlogCard post={demoPost} />
					<BlogCard post={demoPost} />
					<BlogCard post={demoPost} />
				</BlogCardList>
			</ComponentPreview>
		</ComponentSection>

		<ComponentSection title="Blog cards">
			<ComponentPreview id="blog-card-large" title="Large blog card" snippet={`<BlogCardLarge post={demoPost} />`}>
				<BlogCardLarge post={demoPost} />
			</ComponentPreview>

			<ComponentPreview id="blog-card-medium" title="Medium blog card" snippet={`<BlogCard post={demoPost} />`}>
				<BlogCard post={demoPost} />
			</ComponentPreview>

			<ComponentPreview id="blog-card-small" title="Small blog card" snippet={`<BlogCardSmall post={demoPost} />`}>
				<BlogCardSmall post={demoPost} />
			</ComponentPreview>
		</ComponentSection>

		<ComponentSection title="Blog hero (for reference)">
			<ComponentPreview id="blog-hero" title="Hero" snippet={`// see component`}>
				<PrimarySection class="pt-14">
					<div class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
						<div class="lg:col-span-2 xl:col-span-3 grid gap-5 xl:grid-cols-3 ">
							<div class="xl:order-last xl:col-span-2 flex">
								<BlogCardLarge post={demoPost} />
							</div>
							<div class="grid gap-5 lg:hidden xl:grid xl:grid-rows-2 ">
								<BlogCard post={demoPost} />
								<BlogCard post={demoPost} />
							</div>
						</div>
						<div class="grid gap-5 grid-rows-5">
							<BlogCardSmall post={demoPost} />
							<BlogCardSmall post={demoPost} />
							<BlogCardSmall post={demoPost} />
							<BlogCardSmall post={demoPost} />
							<BlogCardSmall post={demoPost} />
						</div>
					</div>
				</PrimarySection>
			</ComponentPreview>
		</ComponentSection>

		<ComponentSection title="Blog Categories">
			<ComponentPreview id="category-list" title="Category List" snippet={`<CategoryList />`} />
		</ComponentSection>
	</PrimarySection>
</Layout>
