---
import ComponentStaticPreview from "../components/partials/ComponentStaticPreview.astro";
import ComponentPreview from "../components/partials/ComponentPreview.astro";
import ComponentSection from "../components/partials/ComponentSection.astro";
import Layout from "../layouts/Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import AmplifyQuote from "../shared/components/quotes/AmplifyQuote.astro";
import Feedback from "../shared/components/forms/Feedback.astro";
import NarrowSection from "../shared/components/layout/NarrowSection.astro";
import NewsletterPromo from "../shared/components/promos/NewsletterPromo.astro";
import WebinarPromo from "../shared/components/promos/WebinarPromo.astro";
import WhitepaperPromo from "../shared/components/promos/WhitepaperPromo.astro";
import EventPromo from "../shared/components/promos/EventPromo.astro";
import webinarImg from "../shared/assets/temp_images/red-ticks.svg";
import whitepaperImg from "../shared/assets/temp_images/black-quote.svg";
import eventImg from "../shared/assets/temp_images/black-arrows.svg";
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>Marketing Components</h1>

		<a href="/">Back</a>

		<ComponentSection title="Quotes and Testimonials">
			<ComponentPreview
				id="quote-amplify"
				title="Amplify Quote"
				snippet={`<AmplifyQuote>
	<h1>Ready to see Deepgram in Action?</h1>
	<p>Get your API key and unlock $150 in free credit.</p>
	<a href="https://console.deepgram.com/signup">Start Free</a>
</AmplifyQuote>`}
			>
				<AmplifyQuote>
					<h1>Ready to see Deepgram in Action?</h1>
					<p>Get your API key and unlock $150 in free credit.</p>
					<a href="https://console.deepgram.com/signup">Start Free</a>
				</AmplifyQuote>
			</ComponentPreview>
			<ComponentPreview
				id="quote-amplify-dark"
				title="Amplify Quote (dark)"
				snippet={`<AmplifyQuote>
	<h1>Ready to see Deepgram in Action?</h1>
	<p>Get your API key and unlock $150 in free credit.</p>
	<a href="https://console.deepgram.com/signup">Start Free</a>
</AmplifyQuote>`}
			>
				<AmplifyQuote class="bg-black text-white">
					<h1>Ready to see Deepgram in Action?</h1>
					<p>Get your API key and unlock $150 in free credit.</p>
					<a href="https://console.deepgram.com/signup">Start Free</a>
				</AmplifyQuote>
			</ComponentPreview>
		</ComponentSection>

		<ComponentSection title="Forms">
			<ComponentPreview id="form-feedback" title="Feedback Form" snippet={`<Feedback>`}>
				<NarrowSection><Feedback /></NarrowSection>
			</ComponentPreview>
		</ComponentSection>

		<ComponentSection title="Promos">
			<p>Promos can be <code>theme=white</code> or <code>theme=black</code> or <code>theme=red</code></p>
			<ComponentPreview
				id="promo-newsletter"
				title="Newsletter Promo"
				snippet={`
<NewsletterPromo/>`}
			>
				<NewsletterPromo />
			</ComponentPreview>
			<ComponentPreview
				id="promo-webinar"
				title="Webinar Promo"
				snippet={`
<WebinarPromo
	title="How to Make Your Application Voice-Ready"
	date="09-10-22"
	humanReadableDate="Wed Apr 27 11a PT | 12p ET"
	theme="red"
	backgroundImage={webinarImg}
	formProps={[
		{ label: "Name (first and last)", placeholder: "Your name" },
		{ label: "Work email", placeholder: "you@company.com", type: "email" },
		{ label: "Role", placeholder: "Role/Title" },
	]}
	buttonText="Register"
		/>`}
			>
				<WebinarPromo
					title="How to Make Your Application Voice-Ready"
					date="09-10-22"
					humanReadableDate="Wed Apr 27 11a PT | 12p ET"
					theme="red"
					backgroundImage={webinarImg}
					formProps={[
						{ label: "Name (first and last)", placeholder: "Your name" },
						{ label: "Work email", placeholder: "you@company.com", type: "email" },
						{ label: "Role", placeholder: "Role/Title" },
					]}
					buttonText="Register"
				/>
			</ComponentPreview>
			<ComponentPreview
				id="promo-whitepaper"
				title="Whitepaper Promo"
				snippet={`
<WhitepaperPromo
	title="How to Make Your Application Voice-Ready"
	theme="black"
	backgroundImage={whitepaperImg}
	formProps={[
		{ label: "Name (first and last)", placeholder: "Your name" },
		{ label: "Work email", placeholder: "you@company.com", type: "email" },
		{ label: "Role", placeholder: "Role/Title" },
	]}
	buttonText="Download"
		/>`}
			>
				<WhitepaperPromo
					title="How to Make Your Application Voice-Ready"
					theme="black"
					backgroundImage={whitepaperImg}
					formProps={[
						{ label: "Name (first and last)", placeholder: "Your name" },
						{ label: "Work email", placeholder: "you@company.com", type: "email" },
						{ label: "Role", placeholder: "Role/Title" },
					]}
					buttonText="Download"
				/>
			</ComponentPreview>
			<ComponentPreview
				id="promo-event"
				title="Event Promo"
				snippet={`
<EventPromo
	title="Try the ASR Comparison Tool"
	strapline="Using google or amazon STT?"
	formProps={[
		{ label: "Name (first and last)", placeholder: "Your name" },
		{ label: "Work email", placeholder: "you@company.com", type: "email" },
		{ label: "Role", placeholder: "Role/Title" },
	]}
	theme="black"
	backgroundImage={eventImg}
	buttonText="Try it Free"
		/>`}
			>
				<EventPromo
					title="Try the ASR Comparison Tool"
					strapline="Using google or amazon STT?"
					formProps={[
						{ label: "Name (first and last)", placeholder: "Your name" },
						{ label: "Work email", placeholder: "you@company.com", type: "email" },
						{ label: "Role", placeholder: "Role/Title" },
					]}
					theme="black"
					backgroundImage={eventImg}
					buttonText="Try it Free"
				/>
			</ComponentPreview>
		</ComponentSection>
	</PrimarySection>
</Layout>
