---
import ComponentStaticPreview from "../components/partials/ComponentStaticPreview.astro";
import ComponentPreview from "../components/partials/ComponentPreview.astro";
import ComponentSection from "../components/partials/ComponentSection.astro";
import Layout from "../layouts/Default.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import AmplifyQuote from "../shared/components/quotes/AmplifyQuote.astro";
import NewsletterPromo from "../shared/components/promos/NewsletterPromo.astro";
import WebinarPromo from "../shared/components/promos/WebinarPromo.astro";
import WhitepaperPromo from "../shared/components/promos/WhitepaperPromo.astro";
import EventPromo from "../shared/components/promos/EventPromo.astro";
import newsletterImg from "../shared/assets/temp_images/newsletter.svg";
import webinarImg from "../shared/assets/temp_images/webinar.png";
import whitepaperImg from "../shared/assets/temp_images/quotes.svg";
import eventImg from "../shared/assets/temp_images/apples.png";
---

<Layout>
	<PrimarySection class="pt-10">
		<h1>Marketing Components</h1>

		<a href="/">Back</a>
		<ComponentSection title="Promos">
			<p>Promos can be <code>theme=white</code> or <code>theme=black</code> or <code>theme=red</code></p>
			<ComponentPreview
				id="promo-newsletter"
				title="Newsletter Promo"
				snippet={`
<NewsletterPromo
	theme="white"
	backgroundImage={newsletterImg}
	title="Get Deepgram news and product updates."
	formText={[{ label: "Work email", placeholder: "you@company.com" }]}
		/>`}
			>
				<NewsletterPromo
					theme="white"
					backgroundImage={newsletterImg}
					title="Get Deepgram news and product updates."
					formText={[{ label: "Work email", placeholder: "you@company.com" }]}
				/>
			</ComponentPreview>
			<ComponentPreview
				id="promo-webinar"
				title="Webinar Promo"
				snippet={`
<WebinarPromo
	title="How to Make Your Application Voice-Ready"
	date="09-10-22"
	humanReadableDate="Wed Apr 27 11a PT | 12p ET"
	theme="red"
	backgroundImage={webinarImg}
	formText={[
		{ label: "Name (first and last)", placeholder: "Your name" },
		{ label: "Work email", placeholder: "you@company.com" },
		{ label: "Role", placeholder: "Role/Title" },
	]}
		/>`}
			>
				<WebinarPromo
					title="How to Make Your Application Voice-Ready"
					date="09-10-22"
					humanReadableDate="Wed Apr 27 11a PT | 12p ET"
					theme="red"
					backgroundImage={webinarImg}
					formText={[
						{ label: "Name (first and last)", placeholder: "Your name" },
						{ label: "Work email", placeholder: "you@company.com" },
						{ label: "Role", placeholder: "Role/Title" },
					]}
				/>
			</ComponentPreview>
			<ComponentPreview
				id="promo-whitepaper"
				title="Whitepaper Promo"
				snippet={`
<WhitepaperPromo
	title="How to Make Your Application Voice-Ready"
	theme="black"
	backgroundImage={whitepaperImg}
	formText={[
		{ label: "Name (first and last)", placeholder: "Your name" },
		{ label: "Work email", placeholder: "you@company.com" },
		{ label: "Role", placeholder: "Role/Title" },
	]}
		/>`}
			>
				<WhitepaperPromo
					title="How to Make Your Application Voice-Ready"
					theme="black"
					backgroundImage={whitepaperImg}
					formText={[
						{ label: "Name (first and last)", placeholder: "Your name" },
						{ label: "Work email", placeholder: "you@company.com" },
						{ label: "Role", placeholder: "Role/Title" },
					]}
				/>
			</ComponentPreview>
			<ComponentPreview
				id="promo-event"
				title="Event Promo"
				snippet={`
<EventPromo
	title="Try the ASR Comparison Tool"
	strapline="Using google or amazon STT?"
	formText={[
		{ label: "Name (first and last)", placeholder: "Your name" },
		{ label: "Work email", placeholder: "you@company.com" },
		{ label: "Role", placeholder: "Role/Title" },
	]}
	theme="black"
	backgroundImage={eventImg}
		/>`}
			>
				<EventPromo
					title="Try the ASR Comparison Tool"
					strapline="Using google or amazon STT?"
					formText={[
						{ label: "Name (first and last)", placeholder: "Your name" },
						{ label: "Work email", placeholder: "you@company.com" },
						{ label: "Role", placeholder: "Role/Title" },
					]}
					theme="black"
					backgroundImage={eventImg}
				/>
			</ComponentPreview>
		</ComponentSection>
	</PrimarySection>
</Layout>
