---
import { getUuid } from "../../util";
import Svg from "../general/Svg.astro";

const formUuid = await getUuid();
const url = Astro.url;
---

<div
	x-data="{
    error: null,
    feedback: null,
    email: null,
    thumb: null,
    thanks: false,
    ratePage(e) {
      const form = new FormData(e.target)
      this.thumb = form.get('thumb')
      const body = {
        thumb: form.get('thumb'),
        page: window.location.pathname,
        hookId: form.get('hook'),
        honeypot: form.get('bot-field')
      }
      fetch('/.netlify/functions/forms', {
        method: 'POST',
        body: JSON.stringify(body),
      })
      .then(() => {
        this.feedback = null
      })
      .catch(() => {
        this.error = 'A problem occured submitting your rating.'
      })
    },
    sendFeedback(e) {
      const form = new FormData(e.target)
      this.email = form.get('email')
      this.feedback = form.get('feedback')
      const body = {
        email: form.get('email'),
        feedback: form.get('feedback'),
        page: window.location.pathname,
        hookId: form.get('hook'),
        honeypot: form.get('bot-field')
      }
      fetch('/.netlify/functions/forms', {
        method: 'POST',
        body: JSON.stringify(body),
      })
      .then(() => {
        this.email = null
        this.feedback = null
        this.thumb = null
        this.thanks = true
      })
      .catch(() => {
        this.error = 'A problem occured submitting your feedback.'
      })
    }
  }"
	class="mt-8"
>
	<h4 x-show="!thanks">Share your feedback</h4>
	<div x-show="error" x-text="error"></div>
	<div>
		<p x-show="!thanks" class="feedback-question text-feedbackText">Was this article useful or interesting to you?</p>
		<div x-show="!thanks" class="thumbs flex items-center justify-start">
			<form id={`thumbsup-form-${formUuid}`} :class="thumb === 'up' ? 'active' : ''" class="inline thumb up" name="rating" @submit.prevent="ratePage">
				<input id={`thumbsup-${formUuid}`} type="submit" aria-hidden="true" class="hidden" />
				<label for={`thumbsup-${formUuid}`} class="text-3xl">
					<Svg name="thumbsup" class="my-4 h-8 w-auto fill-feedbackText" />
				</label>

				<label for={`thumbsup-honeypot-${formUuid}`} class="hidden"
					><input id={`thumbsup-honeypot-${formUuid}`} type="text" aria-label="Don't fill this in if you're a human." name="bot-field" /> Don't fill this in if you're a human.
				</label>
				<input type="hidden" name="thumb" value="up" />
				<input type="hidden" name="hook" value="bgv9wf1" />
				<input type="hidden" name="page" value={url} />
			</form>
			<form id={`thumbsdown-form-${formUuid}`} :class="thumb === 'down' ? 'active' : ''" class="thumb inline down" name="rating" @submit.prevent="ratePage">
				<input id={`thumbsdown-${formUuid}`} type="submit" aria-hidden="true" class="hidden" />
				<label for={`thumbsdown-${formUuid}`} class="text-3xl">
					<Svg name="thumbsdown" class="mt-4 h-8 w-auto fill-feedbackText" />
				</label>

				<label for={`thumbsdown-honeypot-${formUuid}`} class="hidden"
					><input id={`thumbsdown-honeypot-${formUuid}`} type="text" aria-label="Don't fill this in if you're a human." name="bot-field" /> Don't fill this in if you're a human.
				</label>
				<input type="hidden" name="thumb" value="down" />
				<input type="hidden" name="hook" value="bgv9wf1" />
			</form>
		</div>
		<form id={`feedback-form-${formUuid}`} x-show="thumb !== null" name="feedback" method="POST" @submit.prevent="sendFeedback">
			<div class="mb-4">
				<p x-show="thumb ==='up'">Thank you! Can you tell us what you liked about it? (Optional)</p>
				<p x-show="thumb !=='up'">Thank you. What could we have done better? (Optional)</p>
				<p class="text-sm">
					We may also want to contact you with updates or questions related to your feedback and our product. If don't mind, you can optionally leave your email address along with
					your comments.
				</p>
			</div>
			<div class="input-group input-group--light-bg">
				<label for={`feedback-message-${formUuid}`}>Your message<span class="text-fireEngine">*</span></label>
				<textarea
					id={`feedback-message-${formUuid}`}
					ref="feedback"
					name="feedback"
					class="invalid:outline-fireEngine"
					required
					placeholder="Share your thoughts"
					x-model="feedback"></textarea>
			</div>
			<div class="input-group input-group--light-bg">
				<label for={`feedback-email-${formUuid}`}>Your email</label>
				<input id={`feedback-email-${formUuid}`} type="email" name="email" placeholder="you@email.com" x-model="email" />
			</div>
			<div class="flex mt-4 justify-end">
				<button type="submit" aria-label="Send Feedback" title="Send Feedback" class="button button--primary">Send Feedback</button>
			</div>

			<label for={`feedback-honeypot-${formUuid}`} class="hidden"
				><input id={`feedback-honeypot-${formUuid}`} type="text" aria-label="Don't fill this in if you're a human." name="bot-field" /> Don't fill this in if you're a human.
			</label>
			<input type="hidden" name="thumb" value="thumb" />
			<input type="hidden" name="hook" value="bgvnn9g" />
		</form>
		<div x-show="thanks" class="px-1">
			<p class="text-watercourse text-2xl font-bold pt-4 pb-2">Thank you!</p>
			<p>We appreciate your response.</p>
		</div>
	</div>
</div>

<style>
	p {
		@apply text-lg;
	}

	form.thumb {
		@apply mx-2;
	}

	form svg {
		@apply fill-cloud;
		cursor: pointer;
	}

	form.thumb.up svg:hover,
	form.thumb.up.active svg {
		@apply fill-grass;
	}

	form.thumb.down svg:hover,
	form.thumb.down.active svg {
		@apply fill-fireEngine;
	}

	form input,
	form textarea {
		@apply text-almostBlack;
	}
</style>
