---
import { getSluggedJson } from "../../util";
import Icon from "../general/Icon.astro";
import Link from "../general/Link.astro";

const categories = await getSluggedJson("blog/category");
const pathname = Astro.url.pathname
---

<div class="hidden lg:block lg:sticky lg:top-20 mb-20">
	<h3 class="pb-8">Categories</h3>
	<ul>
		<li class="h-16">
			<Link href="/posts" class="button button--secondary button--small" iconSuffix icon="arrow-right">View All</Link>
		</li>
		{
			categories &&
				categories.map((category) => {
					const path = `/categories/${category.slug}/`;
					return (
						<li class="pb-4">
							<Link href={path} class={
            `hover:text-iris font-semibold leading-5 ${pathname.endsWith(path) ? "text-storm" : "text-darkCharcoal"}`}>
            {category.title}
        </Link>
						</li>
					);
				})
		}
	</ul>
</div>
<!-- mobile -->
<div x-data="{ open: false }" class="block bg-rock lg:hidden mb-10">
	<Link @click="open = !open" class="button button--senary button--small button--block flex justify-between items-center text-white">
		<h3 class="pb-0">Categories</h3>
		<Icon icon="angle-down" class="fill-gray-300 w-[1em] h-[1em]" x-bind:class="{ 'rotate-180' : open }" />
	</Link>

	<ul class="hidden absolute w-full z-20 bg-rock overflow-y-auto max-h-[36rem]" x-bind:class="{hidden: !open, block: open}">
		<hr class="sticky top-0 left-[3%] md:left-[2%] w-[97%] mb-4 bg-steel opacity-30" />
		{
			categories &&
				categories.map((category) => {
					return (
						<li class="pb-4">
							<Link class="font-inter pl-4 font-normal text-white" href={`/categories/${category.slug}`}>
								{category.title}
							</Link>
						</li>
					);
				})
		}
	</ul>
</div>

<style>
	.active {
		@apply text-storm;
	}
</style>