---
import MidPagePromo from "./MidPagePromo.astro";
import { type, title, date, time, cta} from Astro.props
---

<MidPagePromo>
  <div>
		<p>{type}</p>
		<h4>{title}</h4>
		{date && (
			<p>
				<span>{date}</span>
				<span>{time}</span>
			</p>
		)}
	</div>
	<form>
		<div>
			<label>Name (first and last)</label>
			<input />
		</div>
		<div>
			<label>Work email</label>
			<input />
		</div>
		<div>
			<label>Role</label>
			<input />
		</div>
		<button>{cta}</button>
	</form>
</MidPagePromo>
