---
import { getSluggedJson, getUuid } from "../../util";
import AbstractPromo from "./AbstractPromo.astro";
import PromoForm from "./PromoForm.astro";
import Button from "../general/Button.astro";

interface Props {
	whitepaper: string;
	[key: string]: string;
}

interface Whitepaper {
	title: string;
	zapHook: string;
	hubSpotId: string;
	url: string;
	theme: string;
	image: string;
	date: string;
	slug?: string;
}

let whitepaper: Whitepaper;
const { whitepaper: whitepaperSlug, ...rest } = Astro.props as Props;

const allWhitepapers: Whitepaper[] = await getSluggedJson("whitepapers");

if (whitepaperSlug === "latest") {
	whitepaper = allWhitepapers.pop();
} else {
	whitepaper = allWhitepapers.find((wp) => wp.slug === whitepaperSlug);
}

const { theme, title, image, url, hubSpotId, zapHook } = whitepaper;
const formUuid = await getUuid();
---

<AbstractPromo strapline="White Paper" backgroundImage={image} theme={theme} title={title} {...rest}>
	<PromoForm theme={theme} url={url} hook={zapHook} formUuid={formUuid}>
		<input type="hidden" name="hubSpotId" value={hubSpotId} />
		<div class="grid grid-cols-5 form--inline">
			<div class:list={["input-group", theme === "white" ? "input-group--light-bg" : "", theme === "red" ? "theme--red" : ""]}>
				<label for={`form-${formUuid}-firstname`}>First name</label>
				<input type="text" id={`form-${formUuid}-firstname`} name="firstname" required placeholder="Ada" />
			</div>
			<div class:list={["input-group", theme === "white" ? "input-group--light-bg" : "", theme === "red" ? "theme--red" : ""]}>
				<label for={`form-${formUuid}-lastname`}>Last name</label>
				<input type="text" id={`form-${formUuid}-lastname`} name="lastname" required placeholder="Lovelace" />
			</div>
			<div class:list={["input-group", theme === "white" ? "input-group--light-bg" : "", theme === "red" ? "theme--red" : ""]}>
				<label for={`form-${formUuid}-email`}>Work email</label>
				<input type="text" id={`form-${formUuid}-email`} name="email" required placeholder="ada@lovelace.com" />
			</div>
			<div class:list={["input-group", theme === "white" ? "input-group--light-bg" : "", theme === "red" ? "theme--red" : ""]}>
				<label for={`form-${formUuid}-jobtitle`}>Title</label>
				<input type="text" id={`form-${formUuid}-jobtitle`} name="jobtitle" required placeholder="First Engineer" />
			</div>

			<div class="input-group">
				<Button type="submit" id={`form-${formUuid}-submit`} value="test" class={`button button--primary shrink ${theme === "red" ? "button--alternative" : ""}`}>Download</Button>
			</div>
		</div>
	</PromoForm>
</AbstractPromo>

<style>
	.input-group.theme--red label {
		@apply text-black;
	}

	.input-group.theme--red input[type="email"],
	.input-group.theme--red input[type="password"],
	.input-group.theme--red input[type="search"],
	.input-group.theme--red input[type="tel"],
	.input-group.theme--red input[type="text"],
	.input-group.theme--red input[type="url"],
	.input-group.theme--red input[type="text"],
	.input-group.theme--red textarea {
		@apply bg-crimson placeholder:text-cottonCandy/80 text-white;
	}
</style>
