---
import ContrastSection from "../shared/components/decoration/ContrastSection.astro";
import Layout from "../layouts/Default.astro";
import Hero from "../components/homepage/Hero.astro";
import PrimarySection from "../shared/components/layout/PrimarySection.astro";
import HasAside from "../shared/components/layout/HasAside.astro";
import CategoryList from "../shared/components/nav/CategoryList.astro";
import CategorySection from "../components/homepage/CategorySectionSB.astro";
import Link from "../shared/components/general/Link.astro";
import JsonLD from "../shared/components/meta/JsonLD.astro";
import WhitepaperPromo from "../shared/components/global/WhitepaperPromo.astro";
import { useStoryblokApi } from "@storyblok/astro";

const sbApi = useStoryblokApi();

// 4138 is the story ID for the "Featured Posts" story
const { data: featured } = await sbApi.get("cdn/stories/4138");
const featuredData = featured.story.content;
const { data: featuredPost } = await sbApi.get(`cdn/stories/${featuredData.Featured.id}`, {
	find_by: "uuid",
});
const { data: homepagePosts } = await sbApi.get("cdn/stories", {
	by_uuids: featuredData.Homepage.join(","),
	sort_by: "content.date:desc",
});
const { data: allPosts } = await sbApi.get("cdn/stories", {
	by_slugs: "blog-posts/*",
	per_page: 8,
	sort_by: "content.date:desc",
});

const otherPosts = allPosts.stories.filter((post) => {
	return ![featuredPost, ...homepagePosts.stories].some((f) => {
		return f.uuid === post.uuid;
	});
});

const latestPosts = otherPosts.splice(0, 2);
const { data } = await sbApi.get("cdn/stories", {
	by_slugs: "categories/*",
});
const categories = data.stories;

// build json schema object
const schema = {
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	itemListElement: [
		{
			"@type": "ListItem",
			position: 1,
			name: "Deepgram Home",
			item: "https://deepgram.com",
		},
		{
			"@type": "ListItem",
			position: 2,
			name: "Blog",
		},
	],
};
---

<Layout>
	<JsonLD slot="json:ld" {schema} />

	<ContrastSection contrast="black" background="darkCharcoal" class="bg-sound-wave-cloud-dark" bottomDivider="eclipse-divider" bottomOverlay>
		<PrimarySection class="pt-[6rem] md:pt-[6.33203125rem] lg:pt-[6.6640625rem] xl:pt-[6.328125rem]">
			<Hero title="Deepgram Blog ⚡️" featured={featuredPost.story} homepage={homepagePosts.stories} latest={latestPosts} />
		</PrimarySection>
	</ContrastSection>
	<PrimarySection class="mt-48 xl:mt-64">
		<HasAside>
			<CategoryList slot="aside" />
			{categories &&
				categories.map((category, index) => (
					<>
						<CategorySection category={category} />
						{index === 0 && (
							<div class="mb-32">
								<WhitepaperPromo whitepaper="latest" />
							</div>
						)}
					</>
				))}
			<center class="-mt-10 mb-20">
				<Link href="/posts" icon="arrow-right" iconSuffix class="button button--secondary button--small">View All</Link>
			</center>
		</HasAside>
	</PrimarySection>
</Layout>
