---
import Svg from "../../shared/components/general/Svg.astro";
import Icon from "../../shared/components/general/Icon.astro";
import Link from "../../shared/components/general/Link.astro";

const { author } = Astro.props;
---

<div class="author-hero mb-20">
	<div class="flex-1 author-info">
		<h1 class="name">{author.content.title}</h1>
		<h2 class="title">{author.content.jobtitle}</h2>
		<ul class="socials">
			{author.content.twitter && (
				<li>
					<Link href={`https://twitter.com/${author.content.twitter}`} target="_blank" rel="nofollow">
						<Icon icon="twitter" />
					</Link>
				</li>
			)}

			{author.content.linkedin && (
				<li>
					<Link href={author.content.linkedin} target="_blank" rel="nofollow">
						<Icon icon="linkedin" />
					</Link>
				</li>
			)}
			{author.content.github && (
				<li>
					<Link href={author.content.github} target="_blank" rel="nofollow">
						<Icon icon="github" />
					</Link>
				</li>
			)}
			{author.content.twitch && (
				<li>
					<Link href={author.content.twitch} target="_blank" rel="nofollow">
						<Icon icon="twitch" />
					</Link>
				</li>
			)}
		</ul>
		<p class="bio">{author.content.bio}</p>
	</div>
	<div class="picture-section">
		<Svg class="fingerprint" name="fingerprint" />
		<img class="picture" src={author.content.picture.filename} alt={author.content.title} />
	</div>
</div>

<style scoped>
	.author-hero {
		grid-template-rows: 0.5fr 1fr;
		@apply grid grid-cols-1 pb-10 text-white md:grid-cols-2 md:grid-rows-1;
	}

	.author-hero h2 {
		@apply md:mt-10;
	}
	.author-info {
		@apply grow;
		@apply order-2 md:order-1;
	}
	ul.socials {
		@apply flex items-start;
	}
	ul.socials li {
		@apply mx-2 my-3;
	}
	ul.socials li svg {
		fill: white;
		@apply h-5 w-5;
	}
	ul.socials li:nth-child(1) {
		@apply ml-0;
	}

	p.bio {
		@apply text-lg;
	}

	.picture-section {
		@apply mb-5 grid shrink grow-0 grid-cols-7;
		@apply order-1 md:order-2;
		grid-template-rows: 1fr;
	}
	.picture-section .picture {
		@apply my-auto h-[20rem] min-h-[20rem] w-[20rem] min-w-[20rem] rounded-full object-cover;
		@apply col-span-3 col-start-1 lg:col-start-2;
		grid-row: 1;
	}

	.picture-section .fingerprint {
		@apply my-auto h-[20rem] min-h-[20rem] w-[20rem] min-w-[20rem];
		@apply -order-last col-span-3 col-start-3 lg:col-start-4;
		grid-row: 1;
	}
</style>
