---
import GenericBlogCard from "./GenericBlogCard.astro";

const { class: classes, title, tags, author, image, ...rest } = Astro.props;
---

<GenericBlogCard class={`w-full flex flex-col ${classes ? classes : ""}`} {...rest}>
	<div class="overflow-hidden flex place-content-center">
		<img class="max-w-full grow" src={image} alt={`Blog title image for the blog post: ${title}`} />
	</div>
	<div class="px-4 flex flex-col justify-between text-black">
		<div class="flex flex-col justify-start space-y-1">
			<ul class="pt-3 flex text-sm font-medium space-x-2">
				{tags.map((tag) => <li class="bg-steel text-white">#{tag}</li>)}
			</ul>
			<h4 class="text-lg leading-5 sm:text-xl sm:leading-6 md:text-2xl md:leading-7">
				{title}
			</h4>
		</div>
		{author && <div class="py-3 text-xs font-semibold uppercase">{author}</div>}
	</div>
</GenericBlogCard>
