---
import TagsList from "../lists/TagsList.astro";
import Authors from "../strings/Authors.astro";
import GenericBlogCard from "./GenericBlogCard.astro";

const { class: classes, post } = Astro.props;
let { tag_list } = post;

const { title: originalTitle, authors, cover_image } = post.content;
if (cover_image.filename.indexOf('cloudinary') > -1) {
	cover_image.filename = cover_image.filename.replace('upload/', 'upload/q_50/w_auto/c_scale/');
}
let title = originalTitle.length > 60 ? `${originalTitle.substring(0, 57)}...` : originalTitle;
---

<GenericBlogCard class={`w-full flex flex-col ${classes ? classes : ""}`} post={post}>
	<div class="overflow-hidden flex h-[55%] place-content-center">
		<img class="object-cover w-full aspect-[1.6/1]" src={cover_image.filename} alt={`Blog title image for the blog post: ${originalTitle}`} />
	</div>
	<div class="px-4 pb-3 flex flex-col h-[45%] justify-between text-black">
		<div class="h-full flex flex-col justify-evenly">
			<TagsList tags={tag_list} />
			<h4 title={originalTitle} class="lg:text-h4-d md:text-h2-m text-h4-m">{title}</h4>
		</div>

		<Authors authors={authors} />
	</div>
</GenericBlogCard>
