---
import GenericCard from "./GenericCard.astro";

const { class: classes, title, tags, author, image, ...rest } = Astro.props
---

<GenericCard class={`min-w-[20.25rem] max-w-[21rem] min-h-[20.25rem] max-h-[21rem] pb-1/2 ${classes ? classes : ''}`} {...rest}>
	<div class="flex-shrink-0">
		<img class="w-full h-[11rem] object-cover" src={image} alt={`Blog title image for the blog post: ${title}`} />
	</div>
	<div class="flex-1 bg-white px-4 pb-2 pt-4 flex flex-col justify-between text-black">
		<div class="flex-1 flex flex-col justify-start space-y-1">
			<ul class="flex text-sm font-medium">
				{tags.map((tag) => (<li class="bg-steel text-white">#{tag}</li>))}
			</ul>
			<h2 class="text-2xl font-semibold leading-6">{title}</h2>
		</div>
		<p class="text-xs font-medium uppercase font-semibold">
		{author}
		</p>
	</div>
</GenericCard>

<style></style>
