---
import GenericBlogCard from "./GenericBlogCard.astro";
import ACube from "../partials/ACube.astro";

const { class: classes, title, description, tags, author, image, ...rest } = Astro.props;
---

<GenericBlogCard class={`w-full max-w-[48rem] ${classes ? classes : ""}`} {...rest}>
	<ACube class="w-full">
		<div class="grid grid-rows-2 h-full">
			<div class="overflow-hidden flex place-content-center">
				<img class="max-w-full grow" src={image} alt={`Blog title image for the blog post: ${title}`} />
			</div>
			<div class="px-4 sm:px-6 flex flex-col justify-between text-black">
				<div class="flex-1 flex flex-col justify-start space-y-1">
					<ul class="pt-3 sm:pt-6  flex text-sm font-medium space-x-2">
						{tags.map((tag) => <li class="bg-steel text-white">#{tag}</li>)}
					</ul>
					<h2 class="sm:pt-4 text-lg leading-5 sm:text-xl sm:leading-6 md:text-4xl leading-7">
						{title}
					</h2>
					<p class="pt-4 hidden sm:block">{description}</p>
				</div>
				{author && (
					<div class="pb-3 text-xs sm:py-6">
						<p>
							<span class="font-semibold uppercase">{author}</span>
						</p>
					</div>
				)}
			</div>
		</div>
	</ACube>
</GenericBlogCard>
