---
import TagsList from "../lists/TagsList.astro";
import Authors from "../strings/Authors.astro";
import GenericBlogCard from "./GenericBlogCard.astro";

const { class: classes, post } = Astro.props;
let { title } = post.frontmatter;
const { title: originalTitle, description, tags, authors, cover } = post.frontmatter;

title = title.length > 80 ? `${title.substring(0, 77)}...` : title;
---

<GenericBlogCard class={`w-full flex flex-col ${classes ? classes : ""}`} post={post}>
	<div class="overflow-hidden flex h-1/2 place-content-center">
		<img class="object-cover w-full" src={cover} alt={`Blog title image for the blog post: ${originalTitle}`} />
	</div>
	<div class="px-4 pb-3 flex flex-col h-1/2 justify-between text-black">
		<div class="flex flex-col justify-start space-y-1">
			<TagsList tags={tags} />
			<h2 class="pt-8 xl:text-h2-d text-h4-d">{title}</h2>
			<p class="hidden lg:block pt-8">{description}</p>
		</div>

		<Authors authors={authors} />
	</div>
</GenericBlogCard>
