---
import Link from "../shared/components/general/Link.astro";
const { pathname } = Astro.url;
const { navStructure, navTitle } = Astro.props;
---

<div class="sticky top-20">
	<input type="checkbox" id="toggle-nav" class="hidden" />
	<label for="toggle-nav" class="toggle-nav-label absolute z-[11] top-3"></label>
	<nav class="side-nav col-span-2 md:col-span-1 lg:col-span-3 bg-cloud30 p-4">
		<h5 class="border-b border-b-cloud pb-2 text-base">{navTitle}</h5>
		<ul class="ml-0">
			{
				navStructure.map((nav) => {
					return (
						<li class={pathname.includes(nav.to) ? "active" : ""}>
							<div class="navlink-container ">
								{nav.depth === 2 ? (
									<Link
										href={nav.to}
										class={`list-link hover:text-iris text-darkCharcoal my-2 inline-flex py-1 pl-1 pr-3 text-sm leading-5 ${
											pathname.endsWith(nav.to) ? "font-semibold" : "text-darkCharcoal"
										}  ${pathname.endsWith(nav.to) && nav.children ? "border-meadow border-l-4" : ""}`}
									>
										{nav.text}
									</Link>
								) : (
									<>
										{pathname !== "/api-reference" && nav.to.startsWith(pathname) ? (
											<Link
											href={nav.to}
											class={`list-link hover:text-iris text-darkCharcoal my-2 inline-flex pl-4 pr-3  text-sm leading-5 ${
												pathname.endsWith(nav.to) ? "font-semibold" : "text-darkCharcoal"
											}  ${pathname.endsWith(nav.to) && nav.children ? "border-meadow border-l-4" : ""}`}
										>
											{nav.text}
										</Link>
										) : (
											<></>
										)}
									</>
								)}
							</div>
						</li>
					);
				})
			}
		</ul>
	</nav>
</div>