---
import PrimarySection from "../../shared/components/layout/PrimarySection.astro";
import BlogCardLarge from "../../shared/components/cards/BlogCardLarge.astro";
import BlogCard from "../../shared/components/cards/BlogCard.astro";
import BlogCardSmall from "../../shared/components/cards/BlogCardSmall.astro";

const { title, featured, homepage, latest } = Astro.props;
---

<PrimarySection class="pt-14">
	<h1 class="mb-8">{title}</h1>
	<div class="grid gap-4 lg:gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
		<div class="lg:col-span-2 xl:col-span-3 grid gap-4 lg:gap-6 xl:grid-cols-3 ">
			<div class="xl:order-last xl:col-span-2 flex">
				<BlogCardLarge post={featured} />
			</div>
			<div class="grid gap-4 lg:gap-6 lg:hidden xl:grid xl:grid-rows-2">
				<BlogCard post={latest[0]} />
				<BlogCard class="sm:hidden lg:block" post={latest[1]} />
			</div>
		</div>
		<div class="grid gap-4 lg:gap-6 grid-rows-5">
			<BlogCardSmall post={homepage[0]} />
			<BlogCardSmall post={homepage[1]} />
			<BlogCardSmall post={homepage[2]} />
			<BlogCardSmall post={homepage[3]} />
			<BlogCardSmall post={homepage[4]} />
		</div>
	</div>
</PrimarySection>
