---
import Promo from '../../../../../core-components/components/promo/Promo.astro';
import Button from '../../../../../core-components/components/button/Button.astro';
const { promo, title, body, primaryCta, secondaryCta, tertiaryCta, page } = Astro.props

---

{page === 'home' ? 

<section class="hero">
  <Promo>{promo}</Promo>
  <h1>{title}</h1>
  <p>{body}</p>
  <p>{primaryCta}</p>
  <p>{secondaryCta}</p>
  <p>{tertiaryCta}</p>
  <div class="flex">
    <Button>Start Building</Button>
    <Button>Contact Sales</Button>
  </div>
</section>

: null

}

<style>
  .hero {
    @apply flex flex-col items-center;
    @apply bg-black;
  }

  h1 {
      @apply text-white;
    }


</style>
