---
import Promo from '../../../../../core-components/components/promo/Promo.astro';
import Button from '../../../../../core-components/components/button/Button.astro';
const { promo, title, body, primaryCta, secondaryCta, tertiaryCta, page } = Astro.props

---

{page === 'home' ? 

<section class="hero flex flex-col items-center">
  <Promo>{promo}</Promo>
  <h1>{title}</h1>
  <p>{body}</p>
  <p>{primaryCta}</p>
  <p>{secondaryCta}</p>
  <p>{tertiaryCta}</p>
  <div class="flex justify-center space-x-7 w-screen">
    <Button>Start Building</Button>
    <Button>Contact Sales</Button>
  </div>
</section>

: null

}

<style>
  h1 {
    @apply text-4xl lg:text-6xl;
    @apply w-7/12 xl:w-6/12;
    @apply leading-17;
    @apply text-center;
    @apply mt-10 mb-14;
  }
</style>

