---
import PrimarySection from "../layout/PrimarySection.astro";
import Svg from "../general/Svg.astro";
import Icon from "../general/Icon.astro";
import Link from "../general/Link.astro";
import AmplifyQuote from "../quotes/AmplifyQuote.astro";
import Button from "../general/Button.astro";
import { getUuid } from "../../util";

const { WWW_DOMAIN, DOCS_DOMAIN, BLOG_DOMAIN, CONSOLE_DOMAIN, STATUS_DOMAIN } = import.meta.env;

const formUuid = await getUuid();
---

<footer
	x-data="{
  email: null,
  privacyAgree: false,
  newsletterSignup(e) {
    const form = new FormData(e.target)
    this.email = form.get('email')
    const body = {
      email: form.get('email'),
      page: window.location.href,
      hookId: form.get('hook'),
      honeypot: form.get('bot-field')
    }
      fetch('/.netlify/functions/forms', {
        method: 'POST',
        body: JSON.stringify(body),
      })
      .then(() => {
        this.email = null
      })
      .catch(() => {
        this.error = 'A problem occured submitting your rating.'
      })
    },
}"
	class="text-white text-base bg-black pt-40 mt-40"
>
	<PrimarySection>
		<AmplifyQuote class="bg-black text-white" type="standard" title="Ready to see Deepgram in Action?" subtitle="Get your API key and unlock $150 in free credit." />
	</PrimarySection>
	<PrimarySection>
		<div class="grid grid-cols-1 w-full sm:w-2/3 lg:w-full lg:grid-cols-5 xl:grid-cols-6 gap-10 items-end pb-14">
			<div class="lg:col-start-1 lg:col-end-3 flex flex-col space-y-6">
				<Svg name="deepgram-long" class="text-dgRed w-56 stroke-0" />
				<p>Every Voice. Heard and understood.</p>
				<ul class="grid grid-cols-4 sm:grid-cols-8 lg:place-items-center md:place-items-start gap-6 md:gap-12">
					<li>
						<Link href="https://www.twitch.tv/deepgramdevs" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"
							><Icon icon="twitch" class="fill-current w-10" />
						</Link>
					</li>
					<li>
						<Link href="http://github.com/deepgram" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"><Icon icon="github" class="fill-current w-10" /></Link>
					</li>
					<li>
						<Link href="http://twitter.com/DeepgramAI" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"
							><Icon icon="twitter" class="fill-current w-10" />
						</Link>
					</li>
					<li>
						<Link href="http://www.linkedin.com/company/deepgram" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"
							><Icon icon="linkedin" class="fill-current w-10" />
						</Link>
					</li>
					<li>
						<Link href="http://www.youtube.com/channel/UCZD2IkWTzZvajgiy9CjNfxA" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"
							><Icon icon="youtube" class="fill-current w-10" />
						</Link>
					</li>
					<li>
						<Link href="http://www.facebook.com/deepgram/" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"
							><Icon icon="facebook" class="fill-current w-10" />
						</Link>
					</li>
					<li>
						<Link href="http://dribbble.com/deepgram" rel="noopener noreferrer nofollow" target="_blank" class="text-storm"
							><Icon icon="dribbble" class="fill-current w-10" />
						</Link>
					</li>
				</ul>
			</div>
			<div class="lg:col-start-4 lg:col-end-6 xl:col-start-5 xl:col-end-7 space-y-2">
				<h5>Get news and product updates.</h5>
				<form name="newsletter" method="POST" @submit.prevent="newsletterSignup">
					<input class="hidden" aria-label="Don't fill this in if you're a human." name="bot-field" />
					<div class="flex flex-col space-y-4">
						<div class="input-group flex-row items-baseline space-x-1">
							<label for={`terms-${formUuid}`}><input id={`terms-${formUuid}`} type="checkbox" x-model="privacyAgree" /> I’m good with the</label>
							<Link href="https://www.iubenda.com/privacy-policy/88905781" target="_blank" class="text-lightIris">Privacy Policy</Link>
						</div>

						<div class="form--inline">
							<div class="input-group">
								<input type="text" name="email" id={`email-${formUuid}`} x-model="email" placeholder="you@work-email.com" />
								<input type="hidden" name="hook" value="blj5az4" />
							</div>
							<Button type="submit" :disabled="!privacyAgree" value="test" class="button button--secondary">Submit</Button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</PrimarySection>
	<div class="bg-darkCharcoal">
		<PrimarySection class="py-10 flex flex-col space-y-10">
			<div class="grid grid-cols-2 lg:grid-cols-5 xl:grid-cols-6 gap-10">
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Product</li>
					<li><a href={`${WWW_DOMAIN}/product`}>Product</a></li>
					<li><a href={`${WWW_DOMAIN}/product/model-overview`}>Model Overview</a></li>
					<li><a href={`${WWW_DOMAIN}/product/languages`}>Languages</a></li>
					<li><a href={`${WWW_DOMAIN}/why-deepgram`}>Why Deepgram</a></li>
					<li><a href={`${CONSOLE_DOMAIN}/signup?jump=keys`}>Free API Key</a></li>
					<li><a href={`${WWW_DOMAIN}/pricing`}>Pricing</a></li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Solutions</li>
					<li><a href={`${WWW_DOMAIN}/built-with-deepgram`}>Built With Deepgram</a></li>
					<li><a href={`${WWW_DOMAIN}/solutions/contact-centers`}>Contact Centers</a></li>
					<li><a href={`${WWW_DOMAIN}/solutions/speech-analytics`}>Speech Analytics</a></li>
					<li><a href={`${WWW_DOMAIN}/solutions/voicebots`}>Conversational AI</a></li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Docs</li>
					<li><a href={DOCS_DOMAIN}>Documentation</a></li>
					<li><a href={`${DOCS_DOMAIN}/documentation/guides`}>Guides</a></li>
					<li><a href={`${DOCS_DOMAIN}/documentation/getting-started`}>Tutorials</a></li>
					<li><a href={`${DOCS_DOMAIN}/api-reference`}>API Reference</a></li>
					<li><a href={`${DOCS_DOMAIN}/on-prem/`}>On-Prem Deployment</a></li>
					<li><a href={`${DOCS_DOMAIN}/sdks-tools`}>SDKs + Tools</a></li>
					<li><a href={STATUS_DOMAIN}>Status</a></li>
					<li><a href={`${WWW_DOMAIN}/changelog`}>Changelog</a></li>
					<li><a href={`${DOCS_DOMAIN}/support/`}>Support</a></li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">About</li>
					<li><a href={`${WWW_DOMAIN}/about`}>About</a></li>
					<li><a href={BLOG_DOMAIN}>Blog</a></li>
					<li><a href="https://github.com/orgs/deepgram/discussions">Community Forum</a></li>
					<li><a href={`${WWW_DOMAIN}/company/newsroom`}>Newsroom</a></li>
					<li>
						<a href={`${WWW_DOMAIN}/company/careers`}>Careers</a><br /><span class="text-lightIris font-bold">We're Hiring! ✨</span>
					</li>
					<li><a href={`${WWW_DOMAIN}/contact-us`}>Contact Us</a></li>
					<li><a href={`${WWW_DOMAIN}/data-security`}>Security</a></li>
				</ul>
				<ul class="space-y-3 leading-tight">
					<li class="uppercase font-bold">Compare</li>
					<li><a href={`${WWW_DOMAIN}/compare-google-stt-alternatives`}>Google STT Alternative</a></li>
					<li><a href={`${WWW_DOMAIN}/compare-amazon-transcribe-api-alternatives`}>Amazon Transcribe STT Alternative</a></li>
					<li><a href={`${WWW_DOMAIN}/compare-microsoft-azure-stt-alternatives`}>Microsoft Azure STT Alternative</a></li>
					<li><a href={`${WWW_DOMAIN}/compare-nuance-dragon-speech-recognition-alternatives`}>Nuance Dragon STT Alternative</a></li>
					<li><a href={`${WWW_DOMAIN}/compare-assembly-ai-speech-to-text-api-alternatives`}>AssemblyAI STT Alternative</a></li>
					<li><a href={`${WWW_DOMAIN}/compare-speechmatics-speech-to-text-api-alternatives`}>Speechmatics STT Alternative</a></li>
					<li><a href={`${WWW_DOMAIN}/asr-comparison`}>ASR Comparison Tool</a></li>
				</ul>
			</div>
			<p class="text-stone">
				<a class="text-stone" href={`${WWW_DOMAIN}/business/Business_TOS.pdf`}>Terms</a> | <a class="text-stone" href={`${WWW_DOMAIN}/privacy`}>Privacy</a> | Copyright &copy;2022
			</p>
		</PrimarySection>
	</div>
</footer>

<style>
	footer ul li a {
		@apply text-white;
	}
</style>
